<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Fluffy</td>
      <td>Harold</td>
      <td>None</td>
      <td>None</td>
      <td>cat</td>
      <td>f</td>
      <td>1993-02-04</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Claws</td>
      <td>Gwen</td>
      <td>None</td>
      <td>None</td>
      <td>cat</td>
      <td>m</td>
      <td>1994-03-17</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Buffy</td>
      <td>Harold</td>
      <td>None</td>
      <td>None</td>
      <td>dog</td>
      <td>f</td>
      <td>1989-05-13</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Fang</td>
      <td>Benny</td>
      <td>None</td>
      <td>None</td>
      <td>dog</td>
      <td>m</td>
      <td>1990-08-27</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Bowser</td>
      <td>Diane</td>
      <td>None</td>
      <td>None</td>
      <td>dog</td>
      <td>m</td>
      <td>1979-08-31</td>
      <td>1995-07-29</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Chirpy</td>
      <td>Gwen</td>
      <td>None</td>
      <td>None</td>
      <td>bird</td>
      <td>f</td>
      <td>1998-09-11</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Whistler</td>
      <td>Gwen</td>
      <td>None</td>
      <td>None</td>
      <td>bird</td>
      <td>None</td>
      <td>1997-12-09</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Slim</td>
      <td>Benny</td>
      <td>None</td>
      <td>None</td>
      <td>snake</td>
      <td>m</td>
      <td>1996-04-29</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>nemo</td>
      <td>derby</td>
      <td>example@email.com</td>
      <td>mypw</td>
      <td>fish</td>
      <td>M</td>
      <td>1990-02-01</td>
      <td>2008-01-12</td>
    </tr>
    <tr>
      <th>0</th>
      <td>undefined</td>
      <td>undefined</td>
      <td>joan@email.com</td>
      <td></td>
      <td>feline</td>
      <td>f</td>
      <td>2006-11-23</td>
      <td>2016-07-23</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Inky</td>
      <td>Tank Seawater</td>
      <td>ts@email.com</td>
      <td></td>
      <td>squid</td>
      <td>m</td>
      <td>2023-01-25</td>
      <td>2023-02-16</td>
    </tr>
  </tbody>
</table>